$height: 100px;
$item-padding: 0.7em;

.news-ticker {
	& {
		background-color: black;

		position: absolute;
		bottom: 0;
		left: -300px;
		right: 0;
		height: $height;

		overflow: hidden;

		display: flex;

		list-style: none;
		margin: 0;
		padding: 0;

		font-family: "Roboto Mono", "STIX Two Math";
		color: white;
		font-size: 60px;
		font-weight: 400;
		line-height: $height;
	}

	> .item {
		padding-left: $item-padding;
	}

	> .item:not(:last-child):after {
		padding-left: $item-padding;
		content: "â­";
	}
}
