.admin-hud {
	& {
		display: flex;
	}

	> .turn,
	> .phase,
	> .timer {
		border-right: 2px solid black;
		padding: 0 30px;
	}

	> .phase {
		flex-grow: 1;
		font-size: 48px;
	}

	> .timer {
		font-size: 48px;
		padding: 0 30px;
		// Fixed width for the numbers
		text-align: center;
		font-family: Roboto Mono, "Courier New", Courier, monospace;
		flex-basis: 4.3em;
	}

	> .timer.-paused {
		color: red;
	}

	> .control {
		margin-left: 30px;
		width: 10em;
	}
}

.turn-display {
	& {
		display: flex;
		flex-direction: column;
		text-align: center;
	}

	> .text {
		font-size: 20px;
	}

	> .turn {
		font-size: 30px;
		font-weight: 700;
	}
}
